/* Commont settings to start work */
html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Inter";
   font-weight: 400;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}
.common__container{
   width: 1240px;
   margin: 0 auto;
}
/* Comment settings to start work */

/* Common varuables */
:root{
   --dark__gray: rgba(47, 46, 46, 1);
   --dark__green: rgba(37, 77, 77, 1);
   --black__maybe:rgba(0, 0, 0, 1);
   --lighter__gray: rgba(46, 47, 50, 1);
}
.text-h1{
   color: #2F2E2E;
   font-family: "Playfair Display";
   font-size: 51px;
   font-weight: 900;
   line-height: normal;
}
/* Common varuables */

/* Start coding style for header */
.header__container{
   margin-top: 47px;
   margin-bottom: 91px;
}
.header__container-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__content-list{
   display: flex;
}
.header__content-list li{
   list-style: none;
   margin-right: 106px;
}
.header__content-list li:last-child{
   margin-right: 0;
}
.header__content-list li a{
   text-decoration: none;
   color: var(--lighter__gray);
   font-size: 20px;
}
.header__content-list li a:hover{
   font-weight: 700;

}
.header__content-icon{
   cursor: pointer;
}
/* Finish coding style for header */

/* Start coding for section with main background */
.bg__content{
   background-image: url(../images/main__bg.jpg);
   background-repeat: no-repeat;
   background-position: right;
   height: 740px;
}
.bg__content-card{
   width: 100%;
   height: 550px;
   width: 639px;
   background: linear-gradient(91deg, rgba(244, 246, 245, 0.90) -7.89%, rgba(255, 255, 255, 0.90) 132.55%);
   padding-top: 138px;
   padding-left: 100px;
   z-index: 2;
   margin-top: 97px;
}
.bg__content-card-title{
   max-width: 425px;
   margin-bottom: 10px;
}
.bg__content-card-text{
   font-size: 32px;
   font-weight: 200;
}
/* Start coding for section with main background */

/* Start coding for services section */
.services{
   background-color: rgba(37, 77, 77, 0.20);
   padding-top: 16px;
   padding-bottom: 66px;
}
.services__container-title{
   text-align: center;
   margin: 0 auto;
   margin-bottom: 43px;
}
.services__content{
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.services__content-min{
   font-family: "Playfair Display";
   font-size: 27px;
   font-weight: 900;
   line-height: normal;
   margin-bottom: 9px;
}
.services__content-text1, .services__content-text2{
   font-family: "Playfair Display";
   font-size: 16px;
   font-weight: 400;
   line-height: normal;
}
/* Finish coding for services section */

/* Start coging section board */
.board{
   padding-top: 76px;
   margin-bottom: 95px;
}
.board__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.board__content-img{
   
}
.board__content-right-text{
   font-family: "Playfair Display";
   font-size: 31px;
   line-height: normal;
   max-width: 456px;
   margin-top: 26px;
   margin-bottom: 36px;
}
.board__content a{
   text-decoration: none;
   font-size: 24px;
   color: var(--lighter__gray);
   font-weight: 600;
}
/* Finish coging section board */

/* Start coding section grid */
.projects__container-title{
   margin-bottom: 71px;
}
.projects__grid{
   display: grid;
   grid-template-columns: repeat(3, 2fr);
   gap: 104px;
}
.projects__grid-item{
   text-align: center;
}
.projects__grid-picture{
   border-radius: 10px;
   background: #e0e0e0;
   box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}
.projects__grid-text{
   margin-top: 13px;
}
/* Finish coding section grid */
